<div>
    @using ViewModels.Models
    @model FossilImage
    <h3>@Model.fossil.FossilName</h3>
    <dd>Created by: @Model.fossil.AddedBy.Username</dd>
    <dl>
        <dt>Species:</dt>
        <dd>@Model.fossil.FossilSpecies</dd>

        <dt>Found At:</dt>
        <dd><a asp-controller="Home" asp-action="GetDig" asp-route-digid="@Model.fossil.DigSiteID">@Model.fossil.UnearthedAt.SiteName</a></dd>

        <dt>Housed At:</dt>
        <dd><a asp-controller="Home" asp-action="GetMuseum" asp-route-digid="@Model.fossil.MuseumID">@Model.fossil.LocatedAt.MuseumName</a></dd>

        <br/> 

        <p>Have an image of the Fossil? Upload it here!</p>
        <form asp-controller="Home" asp-action="CreateFossilImage" method="POST" enctype="multipart/form-data" asp-route-fossilid="@Model.fossil.FossilID">
            <span asp-validation-for="image.ImageFile"></span>
            <label asp-for="image.ImageFile"></label>
            <br/>
            <input asp-for="image.ImageFile" accept="image/*">
            <button type="submit">Add Image</button>
        </form>

        <br/>
        <h4>Gallery:</h4>
        @foreach (var image in Model.fossil.FossilImages)
        {
            <img src="@("~/Image/"+image.ImageName)" alt="" asp-append-version="true" />
        }
    </dl>
</div>